<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxl.boot.mapper.CacheFileMapper">

    <resultMap id="BaseResultMap" type="com.hxl.boot.pojo.CacheFile">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="topicId" column="topic_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="chunks" column="chunks" jdbcType="INTEGER"/>
            <result property="weeklyReportId" column="weekly_report_id" jdbcType="INTEGER"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="fileSize" column="file_size" jdbcType="BIGINT"/>
            <result property="md5" column="md5" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,topic_id,user_id,
        chunks,weekly_report_id,file_name,
        file_size,md5,path
    </sql>
</mapper>
