<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxl.boot.mapper.LearningRecordFileMapper">

    <resultMap id="BaseResultMap" type="com.hxl.boot.pojo.LearningRecordFile">
            <id property="fileId" column="file_id" jdbcType="INTEGER"/>
            <result property="weeklyReportId" column="weekly_report_id" jdbcType="INTEGER"/>
            <result property="fileRealName" column="file_real_name" jdbcType="VARCHAR"/>
            <result property="fileCodeName" column="file_code_name" jdbcType="VARCHAR"/>
            <result property="fileSize" column="file_size" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="filePath" column="file_path" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="Base_Column_List">

        file_id,weekly_report_id,file_real_name,
        file_code_name,file_size,create_time,
        file_path

    </sql>
    <select id="selectFileExists" resultType="boolean">
        select COUNT(*) from learning_record_file where weekly_report_id=#{weeklyReportId}
    </select>
</mapper>
